html,
body {
	margin: 0;
	padding: 0;
}

.FlexWrap {
  color: #fff;
	font-family: 'comic', sans-serif;
  height: 100%;
  width: 100vw;
  padding: 20px;
   
  display: flex;
  flex-direction: row-reverse;  /* test with row row-reverse column column-reverse */
  flex-wrap: wrap;        /* test with wrap nowrap */
  justify-content:space-around;
}

.FlexItem {
  height: 150px;
  width: 300px;     /* fixed size will demonstrate the wrap */
  display:flex;
  justify-content:center;
  
  display :flex;
  align-items :center;
}
.Red {
  background: red;
}
.Green {
  background: yellowgreen;
}
.Blue {
  background: steelblue;
}


.FlexWrap {
  border:2px solid black;
}

